extends layout

block content
    .container
        h1 about us
        h2 this is what we're called: #{title}
        p bla bla bla 
            ul
                li something 
                li agian
                li oeh lets try
            p am ornare massa. Vestibulum laoreet maximus arcu id rutrum. Phasellus ultricies imperdiet turpis. In elementum condimentum sem, vitae egestas arcu pharetra eu. Nunc in dignissim odio. Proin tristique, tortor sed elementum faucibus, turpis odio sagittis elit, a maximus tellus nibh et dolor. Nam libero ipsum, ele