doctype html
html
  head
    title= "LinqU - don't let your place of residence limit your career!"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
  block content
footer
  p &copy; Barry & LinqU, nothing reserverd.
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/scrollfeature.js')
script(src='/javascripts/scrollfeature')
